<div class="footer-right">
  <p class="mb-0">
    {% capture _platform %}
    <a href="https://halalpos.com/login" target="_blank" rel="noopener"
      >Halalpos</a
    >
    {% endcapture %} {% capture _theme %}
    <a
      href="https://www.facebook.com/cabdirashid.calixaydar/"
      target="_blank"
      rel="noopener"
      >Macalim Dhagoole</a
    >
    <!--{% endcapture %} {{ site.data.locales[lang].meta | default: 'Powered by
    :PLATFORM with :THEME theme.' | replace: ':PLATFORM', _platform | replace:
    ':THEME', _theme }}-->
  </p>
</div>
